@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Candal&family=Cardo&display=swap');

p, li {
    color:rgb(30, 30, 30);
    font-family: "Cardo", Verdana, sans-serif;
}

h3, h4 {
    color: rgb(30, 30, 30);
    font-family: "Caladea", Verdana, sans-serif;
}
.center {
    text-align: center;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
footer {
    background-color: rgb(0, 80, 120);
    text-align: center;
    font-size: x-small;
}
.bright {
    color: white;
}
body {background-image: url(images/formats/lighback.png);
}
.hero-image {
    background-image: url(images/formats/bannertespawsblue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    font-size: 50px;
    font-family: "Canda", Verdana, sans-serif;
    color: white;
    text-align: left;
    margin-left: 1.5cm;
}
.rotate {
    transform: rotate(270deg);
}

.large {
    font-size: 60px;
}
.flex_row {
    display: flex;
    flex-wrap: wrap;
}
.flex_par {
    flex: 500px
}
#Hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Rescue {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Toys {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* I want text to appear beisde Tesla's picture without the later elements also doing so
.left {
    float: left;
    margin-right: 1em;
}
*/